.formContainer
{
    display: inline-block;
    margin-left: 35%;
    margin-top: 5%;
    width: 50%;
}

.shift
{
    margin-left: 5px;
    margin-top: 5px;
}

label
{
    margin-top: 5px;
}

.button1
{
    margin-left: 180px;
}

h3
{
    margin-left: 180px;
}

button
{
    margin-left: 150px;
}

.text
{
    margin-left: 60px;
}

.passshift
{
    margin-left: 12px;
}