<div class="all">
    <app-options-bar></app-options-bar>
    <div class="formDiv">
        <form [formGroup]="playlistForm" (submit)=createPlaylist()>
            <label>Enter new Playlist name:</label>
            <input type="text" formControlName="PlaylistName">
            <input type='submit' class="btn btn-primary" value="Create">
            <br>
            <label>Add songs to Playlists from the <a routerLink="/songs">View All Songs</a> tab.</label>
        </form>
    </div>
    <div class="playlistDiv">
        <div class='playlistdetails' *ngFor="let playlist of playlists; let i = index">
            <h4 (click)="toggle(i)"><u>{{playlists[i].p_name}}</u></h4>
            <table class='table' *ngIf="playlists[i].p_song">
                <tr>
                    <th>Song Name</th>
                    <th>Artist Name</th>
                </tr>

                <tr *ngFor="let song of playlists[i].songs; let in = index">
                    <td *ngIf="song.show">{{song.songName}}</td>
                    <td *ngIf="song.show">{{song.artistName}}</td>
                    <td *ngIf="song.show"><button class='btn btn-primary'
                            (click)="newMessage(song.songPath)">Play</button>
                    </td>
                    <td *ngIf="song.show"><button *ngIf="song.show" class="btn btn-warning"
                            (click)="deleteSongFromPlaylist(playlists[i].p_id, song.songId, in,i)">Remove</button></td>
                </tr>


            </table>


        </div>
    </div>
</div>