table
{
    width: 100%;
}


.playlistDiv
{
    margin-left: 10px;
}

.formDiv
{
    margin-top: 10px;
    margin-left: 10px;
}

label
{
    margin-right: 5px;
}

.btn-primary
{
    margin-left: 5px;
}

.all
{
    height: 100%;
    background-image: url('./playlist-img.jpg');
    background-position: center;
    padding-bottom: 1000px;
}