.formContainer
{
    margin-left: 670px;
    margin-top: 80px;
    
}

html
{
    height: 100%;
    margin: 0;
}
body
{
    
    
    height: 100%;
    margin: 0;
    
}

.all
{
    background-color: red !important;
}

button
{
    margin-left: 175px;
}

label
{
    margin-bottom: 10px;
    margin-right: 10px;
}

p
{
    margin-left: 100px;
}

.btn-primary
{
    margin-left: 165px;
}

h3
{
    margin-left: 145px;
}

.name
{
    margin-left: 24px;
}

.un
{
    
}

.pass
{
    margin-left: 8px;
    
}

.age
{
    margin-left: 125px;
}

.gender
{
    margin-left: 145px;
}