<app-options-bar></app-options-bar>



<div class="container">
    Follow Artists from the <a routerLink = '/artists'>View All Artists</a> tab.
    <table class = "table table-striped">
        <tr>
            <th>#</th>
            <th>Artist Name</th>
        </tr>
        <tr *ngFor = "let artist of artists; let i = index">
            
            <td>
                {{i+1}}
            </td>
            <td>
                {{artist.artistName}}
            </td>
            <td><button class = 'btn-warning' (click) = "unfollowArtist(artist.id)">Unfollow</button></td>
        </tr>
    </table>


</div>
